.signInPage{

  // padding: 0 var(--general-padding);
  color: var(--text-primary-color);
  background-color: var(--background-signIn);
  display: flex;
  align-items: center;
  justify-content: center;

  .signInImg{

    width: 50%;

    img{
      width: 100%;
      height: calc( 100vh - 200px);
      object-fit: cover;
    }
  }
  .signInData{
    width: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .signInForm{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .formTitle{
        margin: 10px 0;
      }
      .formRow{
        width: 100%;
        margin: 10px 0;
        display: flex;
        flex-direction: column;

      }

      .forgotPassword{
        margin: 10px 0;
      }

      .formBtn{
        margin: 10px 0;
        width: 100%;
        button{
        width: 100%;

        }
      }
      .formNewUser{
        margin: 10px 0;

      }
    }
  }

}
