.productDetail {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0 auto;
  max-width: 600px;

  .quantity {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin: 20px auto;

    width: 100%;
    .cantidad{
      font-size: 20px;
      font-weight: 700;
    }
    .addButton{
      display: flex;
      gap: 10px;
      .minusBtn, .plusBtn{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;

        border: none;
        border-radius: 50%;
        background-color: rgb(212, 212, 212);
      }

      .minusBtn:hover, .plusBtn:hover{
        color: white;
        background-color: rgb(17, 17, 17);
      }
    }
  }
  .cartButton{
    margin: 20px 0;
    width: 100%;

    display: flex;
    justify-content: space-between;

    .addCart, .buyNow{
      width:48% ;
    }
  }
}
